* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  background: #0c0b0b;
}
body {
  height: 100vh;
}
#can {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  /* mix-blend-mode: exclusion; */
}
h1 {
  text-transform: uppercase;
  color: aliceblue;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#txt {
  font: normal bold 6rem / 1.2 'Poppins', 'Helvetica', sans-serif;
}

svg {
  font-family: 'Poppins';

  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* transform: 4s font-size; */
  transition: all 2s ease-in-out;
}
text {
  font-size: 8rem;
  transition: all 1s ease-in-out;
}
#mask {
  transition: all 2s ease-in-out;
}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

button {
  cursor: pointer;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  width: fit-content;
  color: white;
  padding: 1rem;
  font: normal bold 1.3rem / 1.2 'Poppins', 'Helvetica', sans-serif;
  border: none;
  background: black;
  border-radius: 0.5rem;
  transition: all 1s ease;
}

button:active {
}
